<template>
  <div class="home">
    <div class="mt-4 py-4 text-center">
      <div class="bg-dark text-light task45-logo">
        TASK45
      </div>
      <h2 class="mt-4">
        Welcome to Task45
      </h2>

      <div class="mt-4">
        <b-button to="/todo-list">
          Todo List
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
    
  }
}
</script>


<style lang="scss">
  .home {
    .task45-logo {
      display: inline-block;
      font-size: 4rem;
      padding: 1rem;
      border-radius: 16px
    }
  }
</style>