<template>
  <div class="todos p-2">
    <div class="list-container" v-if="!loading">
      <todo-list 
        v-for="(list, index) in lists" 
        :key="index" 
        :index="index"
        :title="list.title" 
        :cards="list.cards"
        :editing-list="editingList === index"
        :has-new-card="creatingNewCard === index"
        @editMode="startEditMode"
        @titleChange="onTitleChange"
        @newCard="onNewCard"
      />
      <div class="px-4">
        <b-button @click="createNewList">
          Add List
        </b-button>
      </div>
    </div>
    <div class="text-center" v-else>
      Loading ...
    </div>
    <!-- card modal -->
    <b-modal ref="cardModal" @hidden="closeModal" hide-footer>
      <template #modal-header="{ close }">
        
        <h5 v-if="!taskEditing">{{modalContent.title}}</h5>
        <b-form-input v-else v-model="modalForm.title" autofocus=""></b-form-input>
        <b-link class="text-danger h5" @click="close()">
          <b-icon-x></b-icon-x>
        </b-link>
      </template>
      <div v-if="!taskEditing" style="min-height: 100px">
        {{ modalContent.description || 'No Description'}}
      </div>
      <div v-else>
        <b-form-textarea v-model="modalForm.description" />
      </div>
      <div class="mt-2">
        Change List: 
        <b-form-select v-model="listModel" @change="changeList()">
          <b-form-select-option v-for="(item , index) in lists" :key="index" :value="index">
            {{ item.title || 'No Title' }}
          </b-form-select-option>
        </b-form-select>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <div v-if="modalContent.created">
          Created: {{ modalContent.created | convertDate }}
          <br>
          Updated: {{ modalContent.updated || modalContent.created | convertDate }}
        </div>
        <div>
          <b-link @click="editTask" class="h5 text-success" v-if="taskEditing">
            <b-icon-check-circle></b-icon-check-circle>
          </b-link>
          <span v-else>
            <b-link @click="taskEditMode" class="h5 mr-2">
              <b-icon-pencil></b-icon-pencil>
            </b-link>
            <b-link @click="onRemoveCard" class="h5 text-danger">
              <b-icon-trash></b-icon-trash>
            </b-link>
          </span>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import TodoList from '../components/TodoList'
import TodoService from '../services/todos.service'
import { mapGetters, mapMutations } from 'vuex'
export default {
  components: {
    TodoList
  },
  data(){
    return {
      loading: true,
      editingList: false,
      creatingNewCard: false,
      modalContent: {},
      taskEditing: false,
      listModel: null,
      modalForm: {
        title: '',
        description: ''
      }
    }
  },
  filters: {
    convertDate(val){
      if(val) {
        return new Date(val).toLocaleDateString() + ' - ' + new Date(val).toLocaleTimeString()
      }
    }
  },
  mounted(){
    this.getTypicodeList()
    this.openModal()
  },
  methods: {
    getTypicodeList(){
      TodoService.getTypicodeList().then(res => {
        const data = res.data.slice(0, 10)
        data.forEach(el => {
          el.created = new Date();
          el.update = new Date();
        })
        this.unshiftList(
          {
            title: 'Typicode List',
            static: true,
            cards: data
          }
        )
        this.loading = false
      })
    },
    createNewList(){
      this.newList()
      // immediate title edit after creation
      this.startEditMode(this.lists.length - 1)
    },
    startEditMode(index) {
      this.editingList = index
    },
    onTitleChange(){
      this.editingList = false
    },
    onNewCard(index) {
      this.creatingNewCard = index
    },
    openModal() {
      if(this.listIndex !== false && this.cardIndex !== false) {
        this.modalContent = this.lists[this.listIndex].cards[this.cardIndex]
        this.$refs.cardModal.show()
        this.listModel = this.listIndex
      }
    },
    closeModal() {
      this.$router.push({query: {}})
    },
    taskEditMode(){
      this.taskEditing = true;
      this.modalForm.title = this.modalContent.title
      this.modalForm.description = this.modalContent.description
    },
    editTask(){
       this.taskEditing = false;
       this.updateCard({
         index: this.listIndex,
         tIndex: this.cardIndex,
         ...this.modalForm
       })
    },
    changeList(){
      this.changeCardList({
        index: this.listIndex,
        tIndex: this.cardIndex,
        newList: this.listModel
      })
      this.$router.push({query: {list: this.listModel, card: 0 }})
    },
    onRemoveCard(){
      this.removeCard({index: this.listIndex, tIndex: this.cardIndex})
      this.$refs.cardModal.hide()
    },
    ...mapMutations([
      'newList',
      'updateCard',
      'removeCard',
      'changeCardList',
      'unshiftList'
    ])
  },
  computed: {
    listIndex(){
      return this.$route.query.list || false
    },
    cardIndex(){
      return this.$route.query.card || false
    },
    ...mapGetters([
      'lists'
    ])
  },
  watch: {
    '$route.query': function() {
      this.openModal()
    }
  }
}
</script>


<style lang="scss">
  .todos {
    max-width: 100vw;
    max-height: calc(100vh - 56px);
    overflow-x: auto;
    overflow-y: hidden;
    .list-container {
      display: flex;
      flex-wrap: nowrap;
    }
  }
</style>