<template>
  <div class="list-item">
    <div class="py-2 h5 d-flex list-title text-center">
      <div class="side">
        <b-link class="text-danger" @click="removeList(index)" >
          <b-icon-trash />
        </b-link>
      </div>
      <div v-if="!editingList" class="mid">
        {{ title || 'No Title' }}
      </div>
      <div v-else class="mid">
        <b-form-input
          autofocus=""
          ref="input"
          v-model="editingTitle"
          @keypress.enter="titleChange"
          placeholder="Enter Title"
        ></b-form-input>
      </div>
      <div class="side">
        <b-link @click="editMode" v-if="!editingList">
          <b-icon-pencil-square />
        </b-link>
        
        <b-link @click="titleChange" class="text-success" v-else>
          <b-icon-check-circle />
        </b-link>

      </div>
    </div>
    
    <div class="list-cards">
      <b-button block @click="onNewCard" v-if="!hasNewCard" class="mb-2">
        + New Card
      </b-button>

      <b-card v-else class="mb-2">
        <b-card-text>
          <b-form-input autofocus placeholder="Enter Title" v-model="creatingCard" @keypress.enter="createCard"></b-form-input>
        </b-card-text>
      </b-card>

      <todo-card v-for="(card, tIndex) in cards" :title="card.title" :index="tIndex" :key="tIndex" @cardClick="openCard" class="mb-2"/>

    </div>
  </div>
</template>

<script>
import TodoCard from './TodoCard'
import { mapMutations } from 'vuex'

export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    cards: {
      type: Array,
      default: () => []
    },
    index: {
      type: Number,
      required: true
    },
    editingList: {
      type: Boolean,
      default: false
    },
    hasNewCard: {
      type: Boolean,
      default: false
    }
  },
  components: {
    TodoCard,
  },
  data(){
    return {
      editingTitle: this.title,
      creatingCard: '',
    }
  },
  methods: {
    editMode(){
      this.$emit('editMode', this.index)
    },
    titleChange(){
      this.editListTitle({index: this.index, title: this.editingTitle})
      this.$emit('titleChange', this.index)
    },
    onNewCard(){
      this.$emit('newCard', this.index)
    },
    createCard(){
      this.addNewCard({
        index: this.index,
        title: this.creatingCard
      })
      this.creatingCard = ''
      this.$emit('newCard', false)
    },
    openCard(cardIndex) {
      this.$router.push({ query: {list: this.index, card: cardIndex} })
    },
    ...mapMutations([
      'editListTitle',
      'removeList',
      'addNewCard'
    ]),
  },  
  
}
</script>

<style lang="scss">

.list-item {
  width: 300px;
  min-width: 300px;
  padding-right: 10px;
  height: calc(100vh - 56px);
  .list-title {
    align-items: center;
    .mid {
      width: 220px;
      min-height: 38px;
      line-height: 38px;
    }
    .side {
      width: 40px;
    }
  }
  .list-cards {
    max-height: calc(100vh - 125px);
    overflow-y: auto;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    border-right: 1px solid #E0E0E0;
  }
}

</style>