<template>
  <b-card class="task-card" :title="title || 'New Task!'" @click="cardClick" />
</template>


<script>
export default {
  props: {
    title : {
      type: String,
      default: ''
    },
    index: {
      type: Number,
      required: true
    }
  },
  methods: {
    cardClick() {
      this.$emit('cardClick', this.index)
    }
  }
}
</script>


<style lang="scss">
  .task-card {
    cursor: pointer;
  }
</style>