<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-brand>Task45</b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item to="/todo-list">Todos</b-nav-item>
      </b-navbar-nav>
    </b-navbar>

    <!-- router view content -->
      <router-view />
  </div>
</template>